.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 306px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 459px;
  margin: 28px auto 0;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 60px;
  height: auto;
  min-height: 65px;
  margin-top: 28px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }
}